// colors palette
$primary: #2b73b3;
$secondary: #4db3e9;
$tertiary: #ffffff;
$quaternary: #3f9bbf;
$quinary: #37a6a6;
$gradient-bg: linear-gradient(
  0deg,
  rgba(43, 115, 179, 1) 0%,
  rgba(77, 179, 233, 1) 35%
);

//sizes
$container-max-width: 1200px;
