@import '../../styles/variables.scss';

header {
  background: $gradient-bg;
}

.logo {
  height: 30px;
  max-width: 30%;
}

.container {
  margin: auto;
  width: 100%;
  max-width: $container-max-width;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.HomeIcon {
  color: $tertiary;
  &:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
  }
}
