.comment {
  padding: 1em;
  display: flex;
  align-items: flex-start;
  padding-bottom: 0;
  &__avatar {
    margin-top: 0.5em;
  }
  &__content {
    margin-left: 1em;

    &--inner {
      background-color: #ecf8f9;
      padding: 0.5em 1em;
      border-radius: 20px;
    }

    &--header {
      margin: 0;
      font-size: 1em;
    }
    &--text {
      margin: 0;
      font-size: 0.9em;
    }
    &--time {
      color: rgb(0, 0, 0, 0.5);
      margin: 0;
      padding: 0 1em;
      font-size: 0.8em;
    }
  }
  &__actions {
    align-items: center;
    display: flex;
  }
}
.comments__container {
  //max-height: 50vh;
  overflow: scroll;
  scroll-behavior: smooth;
}
